.heading{
  font-size: 400%;
  text-align: center;
  color:orangered;
}

.subheading{
 text-align: center;
}

.projects{
  color: gray;
}

.highlight{
  color: orangered;
  font-weight: bold;
}

.history{
  padding: 10%;
  font-size: 140%;
}

.animation{
  animation-duration: 5s;
  animation-name: slidein;
  margin-left: 40%;
}

@keyframes slidein {
  from {
    margin-left: -25%;
    width: 0%
  }

  to {
    margin-left: 40%;
    width: 0%;
  }
}