.heading{
  font-size: 400%;
  text-align: center;
  color:orangered;
}

.subheading{
 text-align: center;
}

.projects{
  color: black;
}

.highlight{
  color: orangered;
  font-weight: bold;
}

.history{
  padding: 5%;
  font-size: 140%;
}

.navigator{
  border-style: outset;
  text-align: center;
  border: 2px, blue;
  margin: 10px;
  padding: 5px;
}

.container{
  padding: 20px;
}

.photo{
  border-style: solid;
  border: 30px, black;
  margin: 20px;
  text-align: center;
  padding: auto;
  width: 500;
}

.animation{
  animation-duration: 7s;
  animation-name: slidein;
  margin-left: 40%;
}

@keyframes slidein {
  from {
    margin-left: -25%;
    width: 0%
  }

  to {
    margin-left: 40%;
    width: 0%;
  }
}